#bản_thân_tôi {
  padding:0.45vw;
  background: blanchedalmond;
}

#image_of_myself {
  padding-left:34vw;
  padding-top:2vw;
  background: blanchedalmond;
}

p {
  margin-left:1.25vw;
}

.marginLeft {
  margin:2vw;
}